.bs-right-align{
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.bs-panel {
    width: 600px;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .1);
}

.bs-panel-plain{
    margin: auto;
}

.bs-panel-plain > *,
.bs-panel > * {
    margin-bottom: 12px;
}

.bs-title {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.bs-component,
.bs-input {
    width: 100%;
    resize: vertical;
    padding: 8px 8px;
    font-size: 0.95rem;
    border: 1px solid #cbd5e1;
    border-radius: 8px;
    outline: none;
    transition: .2s;
    color: #1e293b;
    background-color: #f8fafc;
}


.bs-input:focus {
    background-color: #fff;
    border-color: #4285f4;
    box-shadow: 0 0 0 3px rgba(66, 133, 244, .15);
}

.bs-option {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 8px 0;
}

.bs-option input {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.bs-option label {
    cursor: pointer;
    font-size: 15px;
}

.bs-slider-wrapper {
    display: inline-flex;
    width: 100%;
}

.bs-value {
    padding: 0 10px;
}

.bs-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.bs-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.bs-switch-slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background: #ccc;
    border-radius: 30px;
    transition: .25s;
}

.bs-switch-slider::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    transition: .25s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
}

/* checked */

.bs-switch input:checked+.bs-switch-slider {
    background: #4285f4;
}

.bs-switch input:checked+.bs-switch-slider::before {
    transform: translateX(20px);
}

/* disabled */
.bs-switch input:disabled+.bs-switch-slider {
    opacity: .5;
    cursor: not-allowed;
}

/* Button Group */
.bs-btn-group{
    display:inline-flex;
    align-items:stretch;
}

.bs-btn-group > .bs-btn{
    margin-left:-1px;
    border-radius:0;
}

.bs-btn-group > .bs-btn:first-child{
    margin-left:0;
    border-top-left-radius:6px;
    border-bottom-left-radius:6px;
}

.bs-btn-group > .bs-btn:last-child{
    border-top-right-radius:6px;
    border-bottom-right-radius:6px;
}

.bs-btn-group > .bs-btn:hover{
    position:relative;
    z-index:2;
}

.bs-btn-group > .bs-btn.active{
    position:relative;
    z-index:3;
}

/* Vertical */

.bs-btn-group.bs-vertical{
    flex-direction:column;
}

.bs-btn-group.bs-vertical > .bs-btn{
    margin-left:0;
    margin-top:-1px;
}

.bs-btn-group.bs-vertical > .bs-btn:first-child{
    margin-top:0;
    border-radius:6px 6px 0 0;
}

.bs-btn-group.bs-vertical > .bs-btn:last-child{
    border-radius:0 0 6px 6px;
}

/* Fill */

.bs-btn-group.bs-fill{
    display:flex;
    width:100%;
}

.bs-btn-group.bs-fill > .bs-btn{
    flex:1;
}


.bs-btn{
    appearance:none;
    border:1px solid #cfcfcf;
    background:#fff;
    color:#333;
    padding:8px 18px;
    font-size:14px;
    cursor:pointer;
    transition:.15s;
}

.bs-btn:hover{
    background:#f5f5f5;
}

.bs-btn.active{
    background:#2d7ef7;
    border-color:#2d7ef7;
    color:#fff;
}

.bs-btn:disabled{
    opacity:.45;
    cursor:not-allowed;
}

.bs-progress {
    position: relative;
    width: 100%;
    height: 13px;
    background: #e9ecef;
    border-radius: 999px;
    overflow: hidden;
}

.bs-progress-fill {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: #2d7ef7;
    transition: width .25s;
}

.bs-progress-text {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: 600;
    color: #222;
    user-select: none;
    pointer-events: none;
}

.clr-blue{
    background:#2d7ef7;
    border-color:#2d7ef7;
    color:#fff;
}

.clr-red {
    background: #cc1224;
    border-color: #b51121;
    color: #fff;
}

.color-red{
    color:#cc1224;
};

.bs-file-box {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 3px dashed #64748b;
    border-radius: 16px;

    background: #f8fafc;
    color: #334155;

    cursor: pointer;
    transition: 0.2s;
    user-select: none;
}

.bs-file-box:hover {
    border-color: #3b82f6;
    background: #eff6ff;
}

.bs-file-icon {
    font-size: 56px;
    margin-bottom: 15px;
}

.bs-file-title {
    font-size: 22px;
    font-weight: bold;
}

.bs-file-desc {
    margin-top: 8px;
    font-size: 15px;
    color: #64748b;
}
